.notifs-calendar-container {
  margin-top: 0.5rem;
}

.notifs-calendar {
  @include popup;
}

.nc-calendar {
  border-left: $separator;
  min-width: 20.25rem;
  padding-left: 1.75rem;
}

.nc-calendar-dow {
  margin-top: 1rem;
  font-weight: 700;
}

.nc-calendar-date {
  font-size: 18px;
  font-weight: 800;
}

.nc-calendar-dow,
.nc-calendar-date {
  color: $fg;
  padding: 0 0.75rem;
}

.nc-calendar-month-switcher {
  padding-top: 1.5rem;
}

.nc-calendar-month {
  @include custom-button;

  font-weight: 700;
  padding: 0.25rem 0.75rem;
  border-radius: 4rem;

  background-color: transparent;
  &:hover {
    background-color: $button-bg;
  }
  &:active {
    background-color: $button-bg-hover;
  }
}

.nc-calendar-arrow {
  @include custom-button;

  border-radius: 100%;
  padding: 0.75rem;
  background-color: transparent;
  &:hover {
    background-color: $button-bg;
  }
  &:active {
    background-color: $button-bg-hover;
  }
}

.nc-calendar-dow-label {
  font-size: 0.95rem;
  padding-top: 1rem;
  margin-bottom: 0.5rem;
  color: $fg-inactive;
  font-weight: 700;
  text-transform: uppercase;
}

.nc-calendar-day {
  font-size: 0.95rem;
  border-radius: 100%;
  padding: 1px 1px 0 0;
  min-width: calc(2.8rem + 1px);
  min-height: calc(2.8rem + 1px);
  color: $fg-inactive;
}

.nc-calendar-day-workday,
.nc-calendar-day-today {
  color: $fg;
}

.nc-calendar-day-today {
  background-color: $accent;
}

.nc-calendar-day-currmo {
  font-weight: 700;
}

.nc-notifications {
  min-width: 30rem;
  padding: 0 1rem;
}

.nc-notifications-empty-label,
.nc-notifications-empty-icon {
  color: $fg-inactive;
}

.nc-notifications-empty-label {
  font-size: 1.25rem;
  padding: 1rem;
  font-weight: 700;
}

.nc-notifications .notification {
  margin-bottom: 1rem;
}

.nc-notifications-bottom {
  font-weight: 600;
  padding: 0.5rem;
  padding-bottom: 0;
}

.nc-notifications-clear {
  background-color: $button-bg;
  &:hover {
    background-color: $button-bg-hover;
  }
  &:active {
    background-color: $button-bg-active;
  }
  padding-right: 2rem;
  padding-left: 2rem;
  border-radius: 2rem;
  margin-top: -0.5rem;
}

.nc-notifications-scroll {
  margin-bottom: 4rem;
}

.nc-player {
  background-color: $bg-light;
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.nc-player-icon {
  margin-right: 0.75rem;
}

.nc-player-title {
  font-weight: 700;
}

.nc-player-artist {
  color: $fg;
  font-weight: 400;
}

.nc-player-control-button {
  margin-left: 1rem;
  background-color: transparent;

  &:hover {
    background-color: adjust-color($bg-light, $lightness: 8%);
  }
  
  &:active {
    background-color: adjust-color($bg-light, $lightness: 16%);
  }

  &.disabled {
    &:hover, &:active {
      background-color: transparent;
    }
  }
}

.nc-player-control-icon {
  &.disabled {
    color: $fg-inactive;
  }
}
