.settings {
  background-color: $window-bg;
  padding: 2rem;
}

.settings-section {
  background-color: $bg;
  border-radius: 1rem;
  padding: 2rem;
  margin-bottom: 2rem;
}

.settings-subtitle {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  margin-right: 1rem;
}

.settings-description {
  color: $fg-subtle;
}

.settings-wallpaper {
  padding: 0;
  margin-top: 2rem;
  border-radius: 2rem;

  &:hover {
    outline: 4px solid $accent;
  }

  &:active {
    outline: 4px solid $accent-hover;
  }
}

.settings-wallpaper-image {
  border-radius: 2rem;
}

.settings-suggested-accent-colours {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.settings-suggested-accent-colour {
  padding: 0;
  min-width: 2rem;
  min-height: 2rem;
  border-radius: 100%;
  margin-right: 1rem;

  &:hover {
    outline: 4px solid $accent;
  }
  &:active {
    outline: 4px solid $accent-hover;
  }
}

.change-accent-colour-button {
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-right: 1rem;
}
