.settings {
  background-color: $window-bg;
  padding: 2rem;
}

.settings-widget-with-label {
  margin-top: 0.5rem;
}

.settings-widget-label-right {
  margin-left: 0.5rem;
}

.settings-widget-label-left {
  margin-right: 0.5rem;
}

.settings-widget-label-top {
  margin-bottom: 0.5rem;
}

.settings-widget-label-bottom {
  margin-top: 0.5rem;
}

.settings-section {
  background-color: $bg;
  border-radius: 1rem;
  padding: 2rem;
  margin-bottom: 2rem;
}

.settings-subtitle {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  margin-right: 1rem;
}

.settings-description {
  color: $fg-subtle;
}

.settings-wallpapers-scroll {
  min-height: 16rem;
}

.settings-wallpaper-overlay {
  margin-top: 1rem;
  margin-left: 0.6rem;
  margin-right: 0.6rem;
}

.settings-wallpaper {
  padding: 0;
  border-radius: 2rem;

  &:hover {
    outline: 4px solid $accent;
  }

  &:active {
    outline: 4px solid $accent-hover;
  }
}

.settings-wallpaper-image {
  border-radius: 2rem;
}

.settings-wallpaper-button {
}

.settings-wallpaper-remove-button {
  margin-right: 1rem;
  margin-top: 1rem;
  border-radius: 2rem;
}

.settings-suggested-accent-colours {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.settings-suggested-accent-colour {
  padding: 0;
  min-width: 2rem;
  min-height: 2rem;
  border-radius: 100%;
  margin-right: 1rem;

  &:hover {
    outline: 4px solid $accent;
  }
  &:active {
    outline: 4px solid $accent-hover;
  }
}

.change-accent-colour-button {
  margin-top: 1rem;
  margin-right: 1rem;
}

.settings-dropdown {
  min-width: 6rem;
}

.settings-pointer-speed-scale {
  min-width: 20rem;
  margin-left: -0.25rem;
  margin-right: -0.25rem;
}
