/* ROUNDED THEME FOR ROFI */
/* Author: Newman Sanchez (https://github.com/newmanls) */

* {
  bg: #242424;
  textbox-bg: #343434;
  message-bg: @bg;
  active-bg: #454545;
  active-border: #3584e4;
  fg: #ffffff;
  dark-fg: #888888;
}

@import "rounded-common.rasi"
