/* ROUNDED THEME FOR ROFI - GNOME THEME */
/* Original author: Newman Sanchez (https://github.com/newmanls) */
/* Modified by: marzeq (https://github.com/marzeq) */

* {
  bg: #1D1D20;
  textbox-bg: #343436;
  message-bg: @bg;
  active-bg: #3D3D40;
  active-border: #438DE6;
  fg: #FFFFFF;
  dark-fg: #888888;
}

@import "rounded-common.rasi"
