@import "../../.local/share/ignis/accent.scss"; // -> ~/.local/share/ignis/accent.scss
@import "./colours.scss";

:root {
  font-family: Adwaita Sans, Cantarell, sans-serif;
}

entry {
  outline-color: $accent;

  > text selection {
    background-color: rgba($accent, 0.3);
  }
}

button, menubutton, splitbutton {
  &.suggested-action {
    &, &:checked {
      background-color: $accent;
    }
  }
}

switch:checked:not(:disabled) {
  background-color: $accent;
}

checkbutton:checked > check,
radiobutton:checked > radio {
  background-color: $accent;
  border-color: $accent;
}

scale highlight {
  background-color: $accent;
}

progressbar progress {
  background-color: $accent;
}

levelbar block.filled {
  background-color: $accent;
}

/* Tabs */
tabview tab:selected,
notebook tab:checked {
  background-color: rgba($accent, 0.25);
}

/* Calendar */
calendar:selected {
  background-color: $accent;
}

/* Focus rings */
*:focus-visible {
  outline-color: $accent;
}

@mixin popup {
  background-color: $bg;
  padding: 1.5rem;
  padding-left: 0;
  font-size: 16px;
  border-radius: 2rem;
  border: $popup-border;
  box-shadow: $popup-shadow;
}

@mixin custom-button {
  transition: 0.2s ease-in-out;
  min-height: unset;
  min-width: unset;
  background-color: $button-bg;
  &:hover {
    background-color: $button-bg-hover;
  }
  &:active {
    background-color: $button-bg-active;
  }
}

@import "./widgets/Bar/style.scss";
@import "./widgets/ClosePopupWidget/style.scss";
@import "./widgets/ControlCentre/style.scss";
@import "./widgets/Notification/style.scss";
@import "./widgets/NotificationPopup/style.scss";
@import "./widgets/NotifsCalendar/style.scss";
@import "./widgets/Workspaces/style.scss";
@import "./widgets/Clock/style.scss";
@import "./widgets/Tray/style.scss";
@import "./widgets/Workspaces/style.scss";
@import "./widgets/OSD/style.scss";
@import "./widgets/Launcher/style.scss";
@import "./widgets/Settings/style.scss";
@import "./widgets/Lockscreen/style.scss";
