$transparency: 60%;

$_transparency: calc(100% - $transparency);
$_ele-tnpc: max($_transparency, 30%);

.window {
  background: none;
}

$bar-bg: #000000;

.bar {
  background-color: rgba($bar-bg, $_transparency);
  color: $fg;
  font-weight: bold;
  font-size: 16px;

  &.on-m2 {
    min-height: 35px;
  }
}

// the more transparent the bar, the lighter the hover effect must be
@function adjusted-bg($lighten) {
  @return adjust-color(rgba($bar-bg, calc($lighten + (100% - $_transparency) / 2)), $lightness: $_ele-tnpc);
}

@mixin bar-item {
  padding: 0.3rem 0.3rem;

  .box {
    @include custom-button;
    background-color: transparent;
    padding: 0.25rem 0.8rem;
    border-radius: 1rem;
  }

  &:hover {
    .box {
      background-color: adjusted-bg(15%);
    }
  }

  &:active {
    .box {
      background-color: adjusted-bg(35%);
    }
  }

  &.active {
    .box {
      background-color: adjusted-bg(35%);
    }
  }
}
