@import "./accent.scss";
@import "./colours.scss";

.runset {
  * {
    all: unset;
  }
}

button {
  min-width: unset;
  min-height: unset;
  background-color: $button-bg;
  &:hover {
    background-color: $button-bg-hover;
  }
  &:active {
    background-color: $button-bg-active;
  }
}

.switch {
  background-color: adjust-color($bg, $lightness: 12%);

  slider {
    background-color: adjust-color($bg, $lightness: 63%);
  }

  &:checked {
    background-color: $accent;
  }
}


:root {
  font-family: Cantarell, Adwaita Sans, sans-serif;
}

@mixin popup {
  background-color: $bg;
  padding: 1.5rem;
  padding-left: 0;
  font-size: 16px;
  border-radius: 2rem;
  border: $popup-border;
  box-shadow: $popup-shadow;
}


@import "./widgets/bar/Bar/style.scss";
@import "./widgets/bar/ClosePopupers/style.scss";
@import "./widgets/bar/ControlCentre/style.scss";
@import "./widgets/shared/Notification/style.scss";
@import "./widgets/misc/NotificationPopup/style.scss";
@import "./widgets/bar/NotifsCalendar/style.scss";
@import "./widgets/bar/Workspaces/style.scss";
@import "./widgets/bar/Clock/style.scss";
@import "./widgets/bar/Tray/style.scss";
@import "./widgets/bar/Workspaces/style.scss";
@import "./widgets/misc/OSD/style.scss";
@import "./widgets/misc/Launcher/style.scss";
@import "./widgets/misc/Settings/style.scss";
