/*
background: #282A36;
black: #282C34;
red: #E06C75;
green: #98C379;
yellow: #E5C07B;
blue: #61AFEF;
purple: #C678DD;
cyan: #56B6C2;
white: #ABB2BF;
*/

* {
  border: none;
  border-radius: 0;
  font-family: "Cascadia Code NF";
  font-size: 16px;
  min-height: 24px;
}

window#waybar {
  background: transparent;
}

window#waybar.hidden {
  opacity: 0.2;
}

#window {
  margin-top: 8px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 26px;
  transition: none;
  color: transparent;
  background: transparent;
}

#workspaces {
  margin-top: 8px;
  margin-left: 12px;
  margin-bottom: 0;
  border-radius: 26px;
  background: #282a36;
  transition: none;
}

#workspaces button {
  transition: none;
  color: #abb2bf;
  background: transparent;
  font-size: 16px;
}

#workspaces button.focused {
  color: #61afef;
}

#workspaces button.active {
  transition: none;
  box-shadow: inherit;
  text-shadow: inherit;
  color: #61afef;
}

#workspaces button:hover {
  transition: none;
  box-shadow: inherit;
  text-shadow: inherit;
  color: #c678dd;
}

#window {
  margin-top: 8px;
  margin-left: 12px;
  margin-bottom: 0;
  border-radius: 26px;
  background: #282a36;
  color: #abb2bf;
  transition: none;
}

window#waybar.empty #window {
  background: transparent;
}

#custom-updates {
  margin-top: 8px;
  margin-left: 8px;
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 0;
  border-radius: 26px;
  transition: none;
  background-color: #99c379;
  color: black;
}

#pulseaudio {
  margin-top: 8px;
  margin-left: 8px;
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 0;
  border-radius: 26px;
  transition: none;
  color: #282c34;
  background: #61afef;
}

#clock {
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 12px;
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 0;
  border-radius: 26px;
  transition: none;
  color: #abb2bf;
  background: #282a36;
}

#mode {
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 12px;
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 0;
  border-radius: 26px;
  transition: none;
  color: #282a36;
  background: #e06c75;
}

#tray {
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 12px;
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 0;
  border-radius: 26px;
  transition: none;
  color: #abb2bf;
  background: #e06b74;
}
