/*
* ┌─────────────────┐
* │ GLOBAL SETTINGS │
* └─────────────────┘
*/

@define-color bg rgba(00, 00, 00, .7);
@define-color fg rgba(255, 255, 255, 1);
@define-color black rgba(00, 00, 00, 1);
@define-color red rgba(255, 126, 99, 1);
@define-color green rgba(143, 240, 164, 1);
@define-color yellow rgba(240, 228, 92, 1);
@define-color blue rgba(120, 174, 237, 1);
@define-color white rgba(250, 250, 250, 1);

* {
  font-family: "Cantarell";
  font-size: 16px;
}

#waybar {
  background: @bg;
}

.module {
  border-radius: 26px;

  margin-right: 8px;
  margin-left: 8px;

  margin-top: 4px;
  margin-bottom: 4px;

  font-weight: bold;

  background-repeat: no-repeat;
  background-position: left;
  background-size: 18px 18px;

  color: @fg;
}

/*
* ┌──────────────┐
* │ LEFT MODULES │
* └──────────────┘
*/

#workspaces {
  color: @fg;
}

#workspaces button {
  color: @fg;
  padding: 2px;
}

#workspaces button.focused,
#workspaces button.active {
  color: @blue;
}

#workspaces button:hover {
  color: @blue;
}

/*
* ┌────────────────┐
* │ MIDDLE MODULES │
* └────────────────┘
*/

#clock {
}

/*
* ┌───────────────┐
* │ RIGHT MODULES │
* └───────────────┘
*/

#custom-updates {
  background-image: url("./icons/update.png");
  padding-left: 20px;
}

#cpu {
  font-size: 0;
  margin: 0;
  padding: 0;
}

#cpu.critical {
  color: @red;
  background-image: url("./icons/warn.png");
  font-size: inherit;
  margin: 4px 8px;
  padding: inherit;
  padding-left: 20px;
}

#memory {
  font-size: 0;
  margin: 0;
  padding: 0;
}

#memory.critical {
  color: @red;
  background-image: url("./icons/warn.png");
  font-size: inherit;
  margin: 4px 8px;
  padding: inherit;
  padding-left: 20px;
}

#pulseaudio {
  background-image: url("./icons/audio.png");
  padding-left: 20px;
}

#pulseaudio.muted {
  background-image: url("./icons/muted.png");
  padding-left: 18px;
}

#bluetooth {
  background-image: url("./icons/bt-disconnected.png");
  padding-left: 18px;
}

#bluetooth.connected {
  background-image: url("./icons/bluetooth.png");
  padding-left: 18px;
}

#tray {
  margin-right: 16px;
}
