/*
background: #282A36;
black: #282C34;
red: #E06C75;
green: #98C379;
yellow: #E5C07B;
blue: #61AFEF;
purple: #C678DD;
cyan: #56B6C2;
white: #ABB2BF;
*/

* {
  border: none;
  border-radius: 0;
  font-family: "Cascadia Code";
  font-size: 16px;
}

#waybar {
  background: transparent;
}

#waybar.hidden {
  opacity: 0.2;
}

.module {
  border-radius: 26px;

  margin-top: 8px;

  margin-left: 6px;
  margin-right: 6px;

  padding-right: 16px;
  padding-left: 16px;

  min-height: 36px;

  transition: none;
}

.modules-left {
  margin-left: 12px;
}

.modules-right {
  margin-right: 12px;
}

/* LEFT MODULES */

#window {
  border-radius: 26px;
  color: transparent;
  background: transparent;
}

#workspaces {
  padding-left: 4px;
  padding-right: 4px;

  background: #282a36;
}

#workspaces button {
  color: #abb2bf;
  background: transparent;
}

#workspaces button.focused {
  color: #61afef;
}

#workspaces button.active {
  color: #61afef;
}

#workspaces button:hover {
  color: #c678dd;
}

#window {
  background: #282a36;
  color: #abb2bf;
}

#waybar.empty #window {
  background: transparent;
}

/* MIDDLE MODULES */

#clock {
  color: #abb2bf;
  background: #282a36;
}

/* RIGHT MODULES */

#custom-updates {
  background-color: #99c379;
  color: #282c34;
}

#cpu {
  color: #282c34;
  background: #e5c07b;

  border-top-right-radius: 0;
  border-bottom-right-radius: 0;

  padding-right: 6px;

  margin-right: 0;
}

#memory {
  color: #282c34;
  background: #e5c07b;

  border-top-left-radius: 0;
  border-bottom-left-radius: 0;

  padding-left: 6px;

  margin-left: 0;
}

#pulseaudio {
  color: #282c34;
  background: #61afef;
}

#pulseaudio {
  color: #282c34;
  background: #61afef;
}

#tray {
  color: #abb2bf;
  background: #e06b74;
}
