.lockscreen-time {
  font-weight: 800;
  font-size: 6rem;
  margin-bottom: 1rem;
}

.lockscreen-date {
  font-size: 1.4rem;
  font-weight: 500;
  color: #dddddd;
}

.lockscreen-usericon-default {
  margin: 32px;
}

.lockscreen-usericon-bg {
  border-radius: 99999rem;
  background-color: rgba(255, 255, 255, 0.1);
}

.lockscreen-usericon-frame {
  border-radius: 99999rem;
  background: transparent;
}

.lockscreen-username {
  font-size: 1.5rem;
  margin-top: 1.5rem;
}

.lockscreen-entry {
  margin: 1rem;
  margin-top: 1.5rem;
  min-width: 15rem;
  &.error {
    outline-color: var(--error-bg-color);
    & entry {
      color: var(--error-bg-color);
      caret-color: var(--error-bg-color);
      border-color: var(--error-bg-color);
    }
  }
}

.battery-status {
  margin: 1rem 1.5rem;
  min-width: 0.5rem;
  min-height: 0.5rem;
  font-weight: bold;
  font-size: 16px;
}

.batt-percent {
  margin-left: 0.375rem;
}

.battery-charging {
  color: #2ec27e;
}
