.notification {
  background-color: $bg-light;
  padding: 1rem;
  border-radius: 1rem;

  &:hover {
    background-color: adjust-color($bg-light, $lightness: 4%);
  }

  &:active {
    background-color: adjust-color($bg-light, $lightness: 8%);
  }
}

.notification-close-hovered,
.notification-close-hovered:hover,
.notification-close-hovered:active {
  background-color: $bg-light;
}

.notification-button {
  @include custom-button;
  background-color: $button-bg-hover;
  border-radius: 100%;
  padding: 0.5rem;

  &:hover {
    background-color: $button-bg-active;
  }

  &:active {
    background-color: $button-bg-active-more;
  }
}

.notification-app-name {
  color: $fg-inactive;
  font-weight: 700;
  padding-right: 0.5rem;
  margin-top: -0.2rem;
}

.notification-time {
  color: $fg-inactive;
  font-weight: 500;
  font-size: 0.95rem;
}

.notification-content {
  margin-top: -0.25rem;
}

.notification-icon {
  margin-right: 0.5rem;
}

.notification-summary {
  color: $fg;
  font-weight: 600;
  margin-top: 0.1rem;
  margin-bottom: 0.2rem;
}

.notification-body {
  color: $fg;
}
