.tray {
  @include bar-item;
  .box {
    padding-left: 1rem;
    padding-right: 0;
  }
}

.tray-icon {
  margin-right: 0.75rem;
  min-width: 0.5rem;
  min-height: 0.5rem;
}

.tray-batt-percent {
  margin-left: 0.375rem;
}

.battery-charging {
  color: #2ec27e;
}
