.osd {
  min-width: 18rem;
  @include popup;
  padding: 1rem;
  margin-bottom: 2rem;
}

.osd-audio-slider {
  padding: unset;
  margin: unset;
}

.osd-audio-slider trough {
  background-color: adjust-color($bg, $lightness: 15%);
  min-height: 0.3rem;
  border-radius: 1rem;
  margin-left: 0.25rem;

  highlight {
    background-color: $accent;
  }

  slider {
    all: unset;
  }
}
